language: node_js
node_js:
  - "8"
before_install:
  - npm install -g npm
  - npm install -g karma-cli@1
script:
  - npm test
  - karma start --single-run --browsers PhantomJS --lodash
sudo: false
cache:
  directories:
    - node_modules
