/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
	color: #FFF;
	text-shadow: 0 1px #000;
	font-family: Consolas, Monaco, 'Andale Mono', monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #0C131C;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #3FBF3F;
}

.token.punctuation {
	color: #FFF;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.boolean,
.token.number {
	color: #FF8080;
}

.token.selector,
.token.attr-value,
.token.string {
	color: #A0FFA0;
}

.token.attr-name,
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #FFF;
}

.token.tag,
.token.atrule,
.token.keyword {
	color: #0099FF;
	font-weight: bold;
}
	.token.atrule,
	.token.keyword {
		font-style: italic;
	}

.token.regex,
.token.important {
	color: #e90;
}

.token.important {
	font-weight: bold;
}

.token.entity {
	cursor: help;
}
